:root {
  --color-light: #ffffff;
  --color-light-soft: #fcfcfc;
  --color-gray: #757576;
  --color-gray-soft: #f5f5f5;
  --color-dark: #3a3a3c;
  --color-green-vue: #42b883;
  --color-blue-vue: #35495e;
  --color-blue-vue-dark: #2a3b4d;
  --color-red: #ea1d2c;
}
